@import "./company/theme";
@import "./foundation/mixin";
@import "./foundation/reset";
@import "./foundation/base";

body {
  font-family: $font-jp;
  color: #333;
  color: var(--color-text-black);
}

.container {
  position: relative;
  margin: auto;
  padding: 0 20px;
  width: 100%;

  @include breakpoint-pc() {
    max-width: $container-width-pc;
    padding: 0 35px;
  }
}

.container--sm {
  @include breakpoint-pc() {
    max-width: 850px;
  }
}

.header {
  height: 60px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-pc() {
    height: 90px;
  }
}

.header__logo {
  margin-left: 20px;

  @include breakpoint-pc() {
    margin-left: 70px;

    img {
      width: 167px;
    }
  }
}

.header__pc-nav {
  display: none;
  margin-right: 55px;
  font-size: 16px;

  @include breakpoint-pc() {
    display: flex;
    align-items: center;
  }
}

.header__pc-nav-item {
  margin: 0 15px;

  &.is-active {
    color: var(--color-primary);

    a {
      cursor: default;
    }
  }
}

.drawer {
  @include breakpoint-pc() {
    display: none;
  }
}

.drawer--open {
  .drawer__header-nav-toggle {
    z-index: 201;
  }
  .drawer__header-nav-icon-close.material-symbols-outlined {
    display: none;
  }

  .drawer__header-nav-icon-open.material-symbols-outlined {
    display: inline;
  }

  .drawer__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .drawer__surface {
    transform: translateX(0);
  }
}

.drawer__header-nav-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  align-self: stretch;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .material-symbols-outlined {
    font-size: 32px;
  }
}

.drawer__header-nav-icon-close.material-symbols-outlined {
  display: inline;
}

.drawer__header-nav-icon-open.material-symbols-outlined {
  display: none;
}

.drawer__overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  z-index: 199;
}

.drawer__surface {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 100px 40px;
  background-color: var(--color-primary);
  color: var(--color-white);
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer__nav {
  font-size: 16px;
  color: var(--color-white);
}

.drawer__nav-item {
  a {
    text-decoration: none;
  }

  & + & {
    margin-top: 32px;
  }
}

.drawer__nav-item--active {
  color: var(--color-primary-weak);
}

.hero {
  position: relative;
  margin-bottom: 40px;

  @include breakpoint-pc() {
    margin-bottom: 64px;
  }
}

.hero__bg {
  source,
  img {
    width: 100%;
  }
}

.hero__center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: var(--color-white);
}

.hero__title {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);

  @include breakpoint-pc() {
    font-size: 160px;
  }
}

.hero__subtitle {
  font-size: 20px;
  margin-top: 12px;

  @include breakpoint-pc() {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.section {
  position: relative;
  margin-bottom: 60px;

  @include breakpoint-pc() {
    margin-bottom: 80px;
  }
}

.section--flex {
  @include breakpoint-pc() {
    display: flex;

    .section__title {
      margin-right: 96px;
      white-space: nowrap;
    }
  }
}

.section__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 1.5;

  @include breakpoint-pc() {
    font-size: 40px;
  }
}

.section__bg-text {
  position: absolute;
  z-index: -1;
  color: #f2f2f2;
  font-size: 70px;
  font-weight: bold;
  right: 4px;
  top: 0;

  @include breakpoint-pc() {
    font-size: 168px;
    top: -48px;
    right: 24px;
  }
}

.news {
  margin-top: 8px;

  @include breakpoint-pc() {
    margin-top: -16px;
  }
}

.news__item {
  display: block;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid #ededed;
  padding: 18px 0;

  @include breakpoint-pc() {
    display: flex;
    align-items: baseline;
    padding: 16px 0;
  }
}

.news__date {
  display: inline-block;
  margin-bottom: 4px;

  @include breakpoint-pc() {
    width: 116px;
    margin-bottom: 0;
  }
}

.news__title {
  line-height: 1.6;

  @include breakpoint-pc() {
    flex: 1;
  }
}

.service {
  @include breakpoint-pc() {
    display: flex;
    align-items: stretch;
    margin: 58px -15px 0;
  }
}

.service__item {
  margin: 20px 0;

  @include breakpoint-pc() {
    flex: 1;
    margin: 0 15px 20px;
  }
}

.service-card {
  text-decoration: none;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-pc() {
    height: 100%;
    padding: 50px;
  }
}

.service-card__icon.material-symbols-outlined {
  font-size: 60px;
  color: var(--color-primary);
  margin-bottom: 10px;

  @include breakpoint-pc() {
    font-size: 46px;
  }

  &.is-fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}

.service-card__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;

  @include breakpoint-pc() {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.service-card__description {
  font-size: 14px;
  line-height: 1.6;
}

.content-header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;

  @include breakpoint-pc() {
    height: 190px;
  }
}

.content-header__title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-white);

  @include breakpoint-pc() {
    font-size: 40px;
  }
}

.message {
}

.message__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  line-height: 1.5;
  margin: 30px 0 20px;

  @include breakpoint-pc() {
    font-size: 40px;
    margin: 60px 0 36px;
  }
}

.message__subtitle {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 36px;

  @include breakpoint-pc() {
    font-size: 18px;
  }
}

.message__profile {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px 8px 0;

  img {
    width: 100%;
  }

  @include breakpoint-pc() {
    margin: 0 25px 25px 0;
  }
}

.message__content {
  font-size: 15px;
  line-height: 1.5;

  @include breakpoint-pc() {
    font-size: 16px;
    line-height: 1.6;
  }
}

.message__image {
  margin: 50px 0;
  height: 260px;
  background-position: center;
  background-size: cover;

  @include breakpoint-pc() {
    height: 400px;
  }
}

.link {
  color: var(--color-text-link);
  text-decoration: underline;
}

.footer {
  background-color: var(--color-primary);
  padding: 40px 0 30px;

  @include breakpoint-pc() {
    padding: 64px 0 48px;
  }
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-nav__item {
  margin-right: 26px;
  font-size: 12px;

  a {
    color: var(--color-white);
  }

  @include breakpoint-pc() {
    font-size: 14px;
    margin-right: 40px;
  }

  a {
    text-decoration: none;
  }
}

.footer__copywrite {
  color: var(--color-white);
  font-size: 10px;

  @include breakpoint-pc() {
    font-size: 12px;
  }
}
