@import "./top/theme";
@import "./foundation/mixin";
@import "./foundation/reset";
@import "./foundation/base";

.container {
  position: relative;
  margin: auto;
  padding: 0 20px;
  max-width: 100%;
  width: $container-width-sp;

  @include breakpoint-pc() {
    width: $container-width-pc;
    padding: 0 35px;
  }
}
