@import "./top/theme";
@import "./foundation/mixin";
@import "./foundation/reset";
@import "./foundation/base";

.container {
  position: relative;
  margin: auto;
  padding: 0 20px;
  width: 100%;

  @include breakpoint-pc() {
    max-width: $container-width-pc;
    padding: 0 35px;
  }
}

.header {
  height: 60px;
  padding: 0 32px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.site {
  margin: 40px 0;
  padding: 0 40px;
}

.site__item {
  display: inline-block;
  margin: 0 0 24px;
}

.site__item-title {
  color: rgb(56, 97, 172);
  margin-bottom: 8px;
}

.site__item-image {
  width: 100%;
  border: 1px solid #ddd;
}
