:root {
  --color-white: #fff;
  --color-primary: #dd1b57;
  --color-primary-weak: #ef90a4;
  --color-text-black: #151515;
  --color-text-link: #349bf4;
}

/*
* css-wipe: https://github.com/stackcss/css-wipe
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* webkit specific styles */
input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
select {
  vertical-align: middle;
}

input:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  color: #333;
  color: var(--color-text-black);
}

.container {
  position: relative;
  margin: auto;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 820px) {
  .container {
    max-width: 1180px;
    padding: 0 35px;
  }
}

@media (min-width: 820px) {
  .container--sm {
    max-width: 850px;
  }
}

.header {
  height: 60px;
  background: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 820px) {
  .header {
    height: 90px;
  }
}

.header__logo {
  margin-left: 20px;
}
@media (min-width: 820px) {
  .header__logo {
    margin-left: 70px;
  }
  .header__logo img {
    width: 167px;
  }
}

.header__pc-nav {
  display: none;
  margin-right: 55px;
  font-size: 16px;
}
@media (min-width: 820px) {
  .header__pc-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__pc-nav-item {
  margin: 0 15px;
}
.header__pc-nav-item.is-active {
  color: var(--color-primary);
}
.header__pc-nav-item.is-active a {
  cursor: default;
}

@media (min-width: 820px) {
  .drawer {
    display: none;
  }
}

.drawer--open .drawer__header-nav-toggle {
  z-index: 201;
}
.drawer--open .drawer__header-nav-icon-close.material-symbols-outlined {
  display: none;
}
.drawer--open .drawer__header-nav-icon-open.material-symbols-outlined {
  display: inline;
}
.drawer--open .drawer__overlay {
  opacity: 1;
  pointer-events: auto;
}
.drawer--open .drawer__surface {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.drawer__header-nav-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.drawer__header-nav-toggle .material-symbols-outlined {
  font-size: 32px;
}

.drawer__header-nav-icon-close.material-symbols-outlined {
  display: inline;
}

.drawer__header-nav-icon-open.material-symbols-outlined {
  display: none;
}

.drawer__overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  z-index: 199;
}

.drawer__surface {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 100px 40px;
  background-color: var(--color-primary);
  color: var(--color-white);
  z-index: 200;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.drawer__nav {
  font-size: 16px;
  color: var(--color-white);
}

.drawer__nav-item a {
  text-decoration: none;
}
.drawer__nav-item + .drawer__nav-item {
  margin-top: 32px;
}

.drawer__nav-item--active {
  color: var(--color-primary-weak);
}

.hero {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 820px) {
  .hero {
    margin-bottom: 64px;
  }
}

.hero__bg source,
.hero__bg img {
  width: 100%;
}

.hero__center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: var(--color-white);
}

.hero__title {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
@media (min-width: 820px) {
  .hero__title {
    font-size: 160px;
  }
}

.hero__subtitle {
  font-size: 20px;
  margin-top: 12px;
}
@media (min-width: 820px) {
  .hero__subtitle {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.section {
  position: relative;
  margin-bottom: 60px;
}
@media (min-width: 820px) {
  .section {
    margin-bottom: 80px;
  }
}

@media (min-width: 820px) {
  .section--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section--flex .section__title {
    margin-right: 96px;
    white-space: nowrap;
  }
}

.section__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 1.5;
}
@media (min-width: 820px) {
  .section__title {
    font-size: 40px;
  }
}

.section__bg-text {
  position: absolute;
  z-index: -1;
  color: #f2f2f2;
  font-size: 70px;
  font-weight: bold;
  right: 4px;
  top: 0;
}
@media (min-width: 820px) {
  .section__bg-text {
    font-size: 168px;
    top: -48px;
    right: 24px;
  }
}

.news {
  margin-top: 8px;
}
@media (min-width: 820px) {
  .news {
    margin-top: -16px;
  }
}

.news__item {
  display: block;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid #ededed;
  padding: 18px 0;
}
@media (min-width: 820px) {
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 16px 0;
  }
}

.news__date {
  display: inline-block;
  margin-bottom: 4px;
}
@media (min-width: 820px) {
  .news__date {
    width: 116px;
    margin-bottom: 0;
  }
}

.news__title {
  line-height: 1.6;
}
@media (min-width: 820px) {
  .news__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 820px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 58px -15px 0;
  }
}

.service__item {
  margin: 20px 0;
}
@media (min-width: 820px) {
  .service__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 15px 20px;
  }
}

.service-card {
  text-decoration: none;
  background-color: var(--color-white);
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 820px) {
  .service-card {
    height: 100%;
    padding: 50px;
  }
}

.service-card__icon.material-symbols-outlined {
  font-size: 60px;
  color: var(--color-primary);
  margin-bottom: 10px;
}
@media (min-width: 820px) {
  .service-card__icon.material-symbols-outlined {
    font-size: 46px;
  }
}
.service-card__icon.material-symbols-outlined.is-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.service-card__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 820px) {
  .service-card__title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.service-card__description {
  font-size: 14px;
  line-height: 1.6;
}

.content-header {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
}
@media (min-width: 820px) {
  .content-header {
    height: 190px;
  }
}

.content-header__title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-white);
}
@media (min-width: 820px) {
  .content-header__title {
    font-size: 40px;
  }
}

.message__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  line-height: 1.5;
  margin: 30px 0 20px;
}
@media (min-width: 820px) {
  .message__title {
    font-size: 40px;
    margin: 60px 0 36px;
  }
}

.message__subtitle {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 36px;
}
@media (min-width: 820px) {
  .message__subtitle {
    font-size: 18px;
  }
}

.message__profile {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px 8px 0;
}
.message__profile img {
  width: 100%;
}
@media (min-width: 820px) {
  .message__profile {
    margin: 0 25px 25px 0;
  }
}

.message__content {
  font-size: 15px;
  line-height: 1.5;
}
@media (min-width: 820px) {
  .message__content {
    font-size: 16px;
    line-height: 1.6;
  }
}

.message__image {
  margin: 50px 0;
  height: 260px;
  background-position: center;
  background-size: cover;
}
@media (min-width: 820px) {
  .message__image {
    height: 400px;
  }
}

.link {
  color: var(--color-text-link);
  text-decoration: underline;
}

table.about {
  width: 100%;
  font-size: 14px;
  margin-top: 46px;
}
@media (min-width: 820px) {
  table.about {
    font-size: 15px;
  }
}
table.about tr {
  border-bottom: 1px solid #dddddd;
}
table.about th {
  text-align: left;
  width: 108px;
}
@media (min-width: 820px) {
  table.about th {
    width: 224px;
  }
}
table.about th,
table.about td {
  padding: 24px 0;
}
@media (min-width: 820px) {
  table.about th,
table.about td {
    padding: 32px 30px;
  }
}

.map iframe {
  height: 300px;
}
@media (min-width: 820px) {
  .map iframe {
    height: 400px;
  }
}

.map__more {
  text-align: right;
  color: var(--color-text-link);
  text-decoration: underline;
  font-size: 12px;
  margin-top: 18px;
}
@media (min-width: 820px) {
  .map__more {
    font-size: 15px;
    margin-top: 24px;
  }
}

.footer {
  background-color: var(--color-primary);
  padding: 40px 0 30px;
}
@media (min-width: 820px) {
  .footer {
    padding: 64px 0 48px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-nav__item {
  margin-right: 26px;
  font-size: 12px;
}
.footer-nav__item a {
  color: var(--color-white);
}
@media (min-width: 820px) {
  .footer-nav__item {
    font-size: 14px;
    margin-right: 40px;
  }
}
.footer-nav__item a {
  text-decoration: none;
}

.footer__copywrite {
  color: var(--color-white);
  font-size: 10px;
}
@media (min-width: 820px) {
  .footer__copywrite {
    font-size: 12px;
  }
}