<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/_head.ejs", { title: "サンプルサイト集", filename: "top" }) %>
  </head>
  <body>
    <header class="container">
      <h1>
        <a href="<%= root %>/cafe"> Top </a>
      </h1>
    </header>
    <section class="container"></section>
  </body>
</html>
