<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/_head.ejs", { title: "ホーム", filename: "top" }) %>
  </head>
  <body>
    <header>
      <h1>
        <a href="/cafe"> Top </a>
      </h1>
    </header>
    <section class="container">
      <div class="hoge">aa</div>
    </section>
  </body>
</html>
