:root {
  --color-white: #fff;
  --color-primary: #dd1b57;
  --color-primary-weak: #ef90a4;
  --color-text-black: #151515;
  --color-text-link: #349bf4;
}

.dark {
}

// タイポグラフィ
$font-saying: athelas, serif !default;
$font-eng: "Roboto", "Noto Sans JP", sans-serif !default;
$font-jp: "Roboto", "Noto Sans JP", sans-serif !default;

// レイアウト
$container-width-pc: 1180px !default;
$container-width-sp: 375px !default;

$breakpoint-sp: 820px !default;

// アニメーション
$transition-base: 0.2s ease-out !default;
